.product {
    .simple_xl_wrap {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
        @media (max-width: 990px) {
            grid-gap: 20px;
        }
        .simple_sm_wrap {
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-gap: 60px;
            @media (max-width: 990px) {
                grid-template-columns: 1fr;
                grid-gap: 20px;
            }
            .simple_title {
                margin-bottom: 10px;
                padding: 0;
                &::before {
                    display: none;
                }
                &::after {
                    display: none;
                }
            }
        }
        .simple_sm_wrap:nth-child(2n) {
            grid-template-columns: 1fr 3fr;
            @media (max-width: 990px) {
                grid-template-columns: 1fr;
                grid-gap: 20px;
            }
            .simple_img {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 1;
                @media (max-width: 990px) {
                    grid-column-start: auto;
                    grid-column-end: auto;
                    grid-row-start: 2;
                }
            }
        }
    }
}

.podrad {
    .simple_xl_wrap {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
        @media (max-width: 990px) {
            grid-gap: 20px;
        }
        .simple_sm_wrap {
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-gap: 60px;
            @media (max-width: 990px) {
                grid-template-columns: 1fr;
                grid-gap: 20px;
            }
            .simple_title {
                margin-bottom: 10px;
                padding-bottom: 10px;
            }
            .simple_pretitle {
                margin-bottom: 10px;
                font: 500 1.25rem 'Montserrat', sans-serif;
                margin-bottom: 10px;
                color: #282459;
                position: relative;
                @media (max-width: 990px) {
                    font-size: 1.2rem;
                }
                @media (max-width: 576px) {
                    font-size: 1.1rem;
                }
            }
        }
        .simple_sm_wrap:nth-child(2n) {
            grid-template-columns: 1fr 3fr;
            @media (max-width: 990px) {
                grid-template-columns: 1fr;
                grid-gap: 20px;
            }
            .simple_img {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 1;
                @media (max-width: 990px) {
                    grid-column-start: auto;
                    grid-column-end: auto;
                    grid-row-start: 2;
                }
            }
        }
    }
}

.pre_section_text_2 {
    margin-top: 30px;
    @media (max-width: 576px) {
        margin-top: 20px;
    }
}